@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

@tailwind base;
@tailwind components;

.light {
  --color-primary: #A16EFF;
  --color-secondary: #FFF;

  --bg-primary: #1b1b38;
  --bg-secondary: #323259;
  --bg-tertiary: #252547;
  --bg-quaternary: #13132B;

  --button-bg-primary: #B4B4DB14;
  --button-bg-secondary: #B4B4DB3D;
  
  --text-primary: #FFF;
  --text-secondary: #B4B4DB;
  --text-active: #A16EFF;
  --text-link: #B18AFF;

  --color-accept: #00D68F;
  --color-warning: #FFAA00;
  --color-danger: #FF3D71;
}
.cosmos {
  --color-primary: #A16EFF;
  --color-secondary: #FFF;

  --bg-primary: #1b1b38;
  --bg-secondary: #323259;
  --bg-tertiary: #252547;
  --bg-quaternary: #13132B;

  --button-bg-primary: #B4B4DB14;
  --button-bg-secondary: #B4B4DB3D;
  
  --text-primary: #FFF;
  --text-secondary: #B4B4DB;
  --text-active: #A16EFF;
  --text-link: #B18AFF;

  --color-accept: #00D68F;
  --color-warning: #FFAA00;
  --color-danger: #FF3D71;
}

@tailwind utilities;